:root{
    --width-fotos:280px;
    --height-fotos:180px;
}
.seccion1-head{
    display: flex; 
    margin: 1.5rem;
}

.seccion1-head-texto{
    margin: 2.5rem 0 0 0;
}
.card-contenedor{
    margin: 0 0.5rem;
}
.seccion4-card-planes {
    justify-content: center;
}

.seccion2-card-contenedor{
   display: grid;
   grid-template-columns: 1fr 1fr ;
   grid-template-rows: 1fr 1fr;

}
.seccion1-tabla{
    display: none;
}
.footer-image{
    background: url(/Images/people2.jpg);
    background-size: cover;
    height: 20rem;
    visibility: visible;
    position: relative;
    background-position: center;
    display: flex;
    background-position: 60% 80%;
}

.footer-contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr;
   grid-template-rows:  1fr;
}
.footer-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-text{
    margin:1rem 15rem;
}
.seccion4-card-planes{
    overflow-x: unset;
}

.feature-foto-feature1{
    background: url(/Images/feature.jpg) no-repeat;
    background-size: cover;
    width: var(--width-fotos);
    height: var(--height-fotos);
    animation-name: scale-in-center;
    animation-duration: 1s;
}

.feature-foto-feature2{
    background: url(/Images/feature2.jpg) no-repeat;
    background-size: cover;
    width: var(--width-fotos);
    height: var(--height-fotos);
    animation-name: scale-in-center;
    animation-duration: 1s;
}

.feature-foto-feature3{
    background: url(/Images/feature3.jpg) no-repeat;
    background-size: cover;
    width: var(--width-fotos);
    height: var(--height-fotos);
    animation-name: scale-in-center;
    animation-duration: 1s;
}

.feature-foto-feature4{
    background: url(/Images/feature4.jpg) no-repeat;
    background-size: cover;
    width: var(--width-fotos);
    height: var(--height-fotos);
    animation-name: scale-in-center;
    animation-duration: 1s;
}

.foto-container{
    display: flex;
    margin: 1rem 1rem 6rem 1rem;
    justify-content: center;
}

.foto-container>div{
    margin: 0 0.5rem;
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
    -webkit-filter: blur(50px);
            filter: blur(50px);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
.precio-container{
    background-color: #e9b226;
    display: flex;
    width: 60px;
    justify-content: center;
    color:white;
    padding: 0.3rem;
}

.descripcion-feature{
    display: flex;
    flex-direction: column;
    padding: 10rem 0 0 0;
    text-align: left;

}
.feature-titulo1{
    font-size: 1.5rem;
}

.feature-titulo1>span{
    color: #d6ab3b;
}

.feature-titulo2{
    font-size: 0.8rem;
}
.feature-titulo2{
    color: gray;
}

.main-seccion1-titulo{
    margin: 1rem 6rem;
}
.seccion1-head{
    margin: 0;
}
.main-seccion1-subtitulo{
    margin: 0 2rem 2.2rem 2rem;
    text-align: justify;
}

.menu-bar{
    display: none;
}
.menu-tablet{
    display: flex;
    padding:  0 1rem 0 0;
}
.menu-titles{
    padding: 0.5rem;
    opacity: 0.8;
    text-decoration: none;
    color: white;
}
.menu-tablet-titles{
    display: flex;
}

.menu-tablet-titles>div{
    animation-name: slide-in-top;
    animation-duration: 1.5s;
}
.bottom-footer{
padding: 1.2rem 2.2rem;
}

.bottom-feature-2>a{
font-size: 0.8rem;
margin: 0 0.5rem;
}

@keyframes slide-in-blurred-right {
    0% {
      -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
              transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) scaleY(1) scaleX(1);
              transform: translateX(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  
.header-main-text{
    animation-name: slide-in-blurred-right;
    animation-duration: 1s;
}
  
.header-text{
    animation-name: scale-in-center;
    animation-duration: 1s;
}



@keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  