.seccion1-head{
    display: flex; 
    margin: 1.5rem;
}

.seccion1-head-texto{
    margin: 2.5rem 0 0 0;
}
.card-contenedor{
    margin: 0 0.5rem;
}
.seccion4-card-planes {
    justify-content: center;
}

.seccion2-card-contenedor{
   display: grid;
   grid-template-columns: 1fr 1fr ;
   grid-template-rows: 1fr 1fr;

}
.seccion1-tabla{
    visibility: hidden;
}
.footer-image{
    background: url(/Images/people2.jpg);
    background-size: cover;
    height: 20rem;
    visibility: visible;
    position: relative;
    background-position: center;
    display: flex;
    background-position: 60% 80%;
}

.footer-contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr;
   grid-template-rows:  1fr;
}
.footer-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-text{
    margin:1rem 15rem;
}